a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  display: grid;
  grid-template-columns: [col-line1] 16.67% [col-line2] 16.67% [col-line3] 16.67% [col-line4] 16.67% [col-line5] 16.67% [col-line6] 16.67% [col-line7];
  grid-template-rows: [row-line1] 1fr [row-line2] 1fr [row-line3] 1fr [row-line4];
  gap: 10px;

  width: 100vw;
  height: 100vh;
}

#graph {
  grid-area: row-line1 / col-line1 / row-line4 / col-line5;
}

#sidebar {
  grid-area: row-line1 / col-line5 / row-line4 / col-line7;
  overflow-y: scroll;
}

#profile {
  grid-area: row-line1 / col-line5 / row-line2 / col-line7;
  padding-bottom: 16px;
  padding-bottom: 32px;
}

#tables {
  grid-area: row-line2 / col-line5 / row-line4 / col-line7;
  grid-template-columns: repeat(2, 50%) !important;
  grid-template-rows: 1fr;
}

#table-1 {
  grid-area: 1 / 1 / 2 / 2;
}

#table-2 {
  grid-area: 1 / 2 / 2 / 3;
}
